<div style="margin-top: 20px;" class="card card-body">
  <h3 style="margin-top: 20px;">Bar - Chart</h3>
  <hr width="100%" color="blue" size="3">
  <div>
  <form>
      <div class="col-md-6 form-group"  style="float: left;">
      <div class="form-group">
        <label for="yil" >Yıl</label>
        <select #yil class="form-select" aria-label="Default select example" style="width: 900px;height: 35px;" >
          <option value="Yıl Seçiniz" disabled>Yıl Seçiniz</option>
            <option value="2015">2015</option>
            <option  value="2016">2016</option>
            <option value="2017">2017</option>
            <option value="2018">2018</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
          </select>
      </div>
      </div>
      <div class="col-md-6 form-group" style="float: left;">
          <div class="form-group">
          <label for="ilce" >Aktif</label>
          <input  #aktif  type="number" name="aktif" min="5" max="500" class="form-control" style="width: 900px;" id="ilceid" placeholder="Aktif Değeri Giriniz">
      </div>
      <div class="form-group">
        <label for="nitelik" >Pasif </label>
        <input #pasif  type="number" name="pasif" min="5" max="500" class="form-control" style="width: 900px;" id="ilid" placeholder="Pasif Değeri Giriniz">
      </div>
        <!-- <button (click)="alert(yil.value,aktif.value,pasif.value); yil.value='Yıl Seçiniz';aktif.value=' ';pasif.value=' ';"  style="margin-top: 10px; float: right; margin-right: 10px;"   type="button" class="btn btn-dark">Fitrele</button> -->
        </div>
    </form>
    <div class="chart">
      <canvas baseChart
      [datasets]="[{ data: [aktif.value,aktif.value,aktif.value,aktif.value,aktif.value],label:'Aktif Değer'},{ data: [pasif.value,pasif.value,pasif.value,pasif.value,pasif.value],label:'Pasif Değer'}]"
      [labels]="[yil.value,yil.value,yil.value,yil.value,yil.value]"
      [options]="barChartOptions"
      [legend]="barChartLegend"
      [chartType]="barChartType">
      </canvas>
    </div>
  </div>
  </div>